swin_pretrained_models/*
dataset/*
ckpts/*
vadepthnet/__pycache__
vadepthnet/models/*
vadepthnet/baseline_small/*
vadepthnet/baseline_tiny/*
vadepthnet/baseline_large/*
vadepthnet/dataloaders/__pycache__
vadepthnet/networks/__pycache__
baseline_small.err
baseline_tiny.err
baseline_large.err
baseline_small.out
baseline_tiny.out
baseline_large.out
baseline_train.slurm
vadepthnet/wandb
