swin_pretrained_models/*
dataset/*
ckpts/*
scripts/*
vadepthnet/__pycache__
vadepthnet/models/*
vadepthnet/vaflownet_tiny/*
vadepthnet/baseline_small/*
vadepthnet/baseline_tiny/*
vadepthnet/baseline_large/*
vadepthnet/baseline_small_4/*
vadepthnet/baseline_tiny_4/*
vadepthnet/baseline_large_4/*
vadepthnet/flow_small/*
vadepthnet/flow_tiny/*
vadepthnet/flow_large/*
vadepthnet/dataloaders/__pycache__
vadepthnet/networks/__pycache__
baseline_small.err
baseline_tiny.err
baseline_large.err
baseline_small.out
baseline_tiny.out
baseline_large.out
baseline_small_4.err
baseline_tiny_4.err
baseline_large_4.err
baseline_small_4.out
baseline_tiny_4.out
baseline_large_4.out
flow_small.err
flow_tiny.err
flow_large.err
flow_small.out
flow_tiny.out
flow_large.out
baseline_train.slurm
vadepthnet/wandb
